name: Deploy to Google Cloud

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy API to GCP
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to GCP VM
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 34.130.93.201
          username: sour
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/cuts-api
            git pull origin main
            npm install
            npm run build
            pm2 restart cuts-api || pm2 start dist/index.js --name cuts-api
            pm2 save
